
<!DOCTYPE html>
<html>

  	{% include head.html %}

 	<body class="job">

		{% include header.html %}

		<div class="heading jumbotron" style="height: 50%;padding:0" align="center">
	  		<div id="header" align="center" style="width: 100%;height:100%;padding:0">
	  			<h1 class="element" style="color:#FFF;font-family: 'Oswald';" align="center">{{page.title}}</h1>
				<img class="portrait" src="">
	  		</div>
		</div>


		{{content}}

		<script type="text/javascript">
  			$("#wrapper").toggleClass("toggled");
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
		  		$("#wrapper").toggleClass("toggled");
		  		this.classList.toggle( "active" );
			});
			$(".navigation").click(function(){
		  		$(".navigation").removeClass('currentlyActive');
		  		$(this).addClass('currentlyActive');
			});
		</script>

		<script type="text/javascript">
			$(".iframe").css('height', $(".iframe").width()*.75)  
		</script>
		<script type="text/javascript">
  			$("#wrapper").toggleClass("toggled");
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
		  		$("#wrapper").toggleClass("toggled");
		  		this.classList.toggle( "active" );
			});
			$(".navigation").click(function(){
		  		$(".navigation").removeClass('currentlyActive');
		  		$(this).addClass('currentlyActive');
			});
		</script>
		<h5>* - Electronic will be emailed as a zip file containing album art upon purchase</h5>
		{% include footer.html %}
		<script type="text/javascript">
			$(".iframe").css('height', $(".iframe").width()*.75)  
			if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 				$(".element").css('font-size', '15vw')
 				$("h2").css('font-size', '12vw')
			}
			else
			{
				$(".element").css('font-size', '5vw')
				$("h2").css('font-size', '3vw')	
			}

			$("#album").css('height', $("#album").width())

			if("{{page.title}}".indexOf('omplete') > -1)
			{
				$('#electronic').attr('value', '40')
				$('#physical').attr('value', '43')
				$('select option:contains("elec")').text('Electronic $40');
				$('select option:contains("phys")').text('Physical $43');
				$("#desc").text('Electronic or Physical CD (+$3 shipping)')
			}
		</script>
		{% include footer.html %}
  	</body>

</html>